* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif;
  box-sizing: border-box;
}

.hide-container {
  display: none;
}

.header {
  text-align: center;
  margin: 15px 0;
  font-family: "Permanent Marker";
}

.enter-players {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  position: relative;
}
/*Окошки для ввода игроков в обычном состоянии*/
.input-field {
  border: 2px solid #a8e4a0;
  outline: none;
  padding: 4px 8px;
  margin: 0 0 10px 4px;
  font-size: 18px;   
}

/*Окошки для ввода игроков при нажатии*/
.input-field:focus {
  border: 2px solid #a8e4a0;
}

/*Кнопка*/
.submit-btn {
  border: 2px solid #a8e4a0;
  padding: 8px 8px;
  font-size: 18px;
  width: 250px;
  border-radius: 5px;
  margin-top: 10px;
  background-color: #a8e4a0;
}

.submit-btn:active,
.submit-btn:focus {
  outline: none;
/*Цвет поля ввода имени*/
  border: 2px solid #a8e4a0;
}

.submit-btn:hover {
  background-color: #a8e4a0;
}

.board___player-turn {
  text-align: center;
  margin: 10px 0 10px;
  height: 54px;
}

.name--style {
  font-size: 22px;
}

.board__container {
  width: 40%;
  /*Цвет игрового поля*/
  background-color: #009a63;
  margin: 0 auto;
  font-size: 0;
  border: 2px solid #000;
  -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
}

.board__cell {
  width: calc(100% / 3);
  display: inline-block;
  font-size: 40px;
  text-align: center;
  /*Цвет сетки*/
  border: 2px solid #000;
  padding: 20px;
  vertical-align: top;
  font-family: "Permanent Marker";
}

/*Клетки с выигрышными позициями*/
.board__cell--winner {
  background-color: #ff9900;
}

.letter {
  position: relative;
  top: 50%;
  left:0px;
  transform: translateY(-50%);
  font-family: "Permanent Marker";

}


/* WINNER CONTAINER */
.reset {
  text-align: center;
  margin: 20px auto 0;
}

.reset--hidden {
  display: none;
}
/*Кнопка повтора*/
.replay-btn {
  width: 25%;
    padding: 10px 20px;
    border: 2px solid #a8e4a0;
    border-radius: 5px;
    outline: none;
    letter-spacing: 0;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 12px;
    word-spacing: 3px;
    background-color: #a8e4a0;
}

.replay-btn:hover,
.replay-btn:active {
  outline: none;
  color: #fff;
  background-color: #000;
}

.congratulations {
  font-size: 24px;
}

.u-r-winner {
  font-size: 18px;
  height: 18px;
  line-height: 18px;
  margin: 2px 0;
}

@media only screen and (max-width: 767px) {
  .board__cell {
    font-size: 16px;
    padding: 5px;
  }

  .replay-btn {
    width: 50%;
  }
}


/* Анимация */
.active{
  color: #564042; /*Цвет*/
  animation-name: animation; 
  animation-duration: 1s; 
 animation-play-state: unset;  

}
@keyframes animation{
   0% {
        transform: translateY(-500%); /*Сдвигает элемент относительно его обычного положения по оси Y*/
    }
    50%{
        transform: translateY(8%);
    }
    65%{
        transform: translateY(-4%);
    }
    80%{
        transform: translateY(4%);
    }
    95%{
        transform: translateY(-2%);
    }           
    100% {
        transform: translateY(0%);
    }       
}

.button {
  /*background-image: url("../github2.png");*/
  margin: auto;
  border-radius: 2px;
  padding: 10px 20px;
  background-color: #f5deb3;
  border: 2px solid #712f26;
  z-index: 0;
  text-align: center;
  cursor: pointer;
  color: #45161c;
  font-size: 17px;
  }

